.md-tlm {
    width: 100%;
    display: flex;
    .tlm-title {
        width: calc(100% - 50px);
        .main-link {
            width: auto;
            font-size: 1.200em;
            a.title {
                padding: 0.5em 0 0.2em 0;
            }
        }
        .badge-notification {
            font-size: 0.8500em;
        }
        .topic-excerpt {
            width: auto;
        }
    }
    .topic-item-stats {
        .category {
            float: none;
            display: inline-flex;
        }
        .badge-wrapper.bullet {
            margin-right: 8px;
        }
    }
    .tl-replies {
        font-size: .8706em;
        display: inline-flex;
        vertical-align: -0.125em;
        .fa.d-icon.d-icon-far-comment.svg-icon.svg-string {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
        .posts-map {
            font-size: 1em;
            margin-top: -2px;
        }
        .num.posts a {
            padding: 5px;
        }
    }
    .discourse-tags::before {
        content: "🔖";
        margin-left: 2px;
        margin-right: 2px;
    }
    .tlm-right {
        width: 50px;
        text-align: center;
        margin: auto 0;
        .num.activity a {
            padding: 0;
            font-size: 0.8706em;
        }
    }
}
